name: Laravel Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  laravel-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: mbstring, bcmath, ctype, fileinfo, json, tokenizer, xml, pdo, sqlite, pdo_sqlite
          coverage: none

      - name: Install Dependencies
        # We update the working-directory here and in every step below
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
        working-directory: ./apps/backend

      - name: Prepare Laravel App
        run: |
          cp .env.example .env
          php artisan key:generate
        working-directory: ./apps/backend

      - name: Create Database
        run: |
          mkdir -p database
          touch database/database.sqlite
        working-directory: ./apps/backend

      - name: Execute tests
        env:
          DB_CONNECTION: sqlite
          DB_DATABASE: database/database.sqlite
        run: php artisan test
        working-directory: ./apps/backend